
body{
  background-color: #FA5ADE
}

.bigLine{
  font-family: 'Dancing Script', cursive;
  font-size: 9rem;
  text-align: center;
  margin: auto;
  padding: 200px 300px;
}

.imageContainer{
  margin: auto;
}

.image{
  height: 100%;
  width: 100%;
}

.col-sm-12{
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}
